<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>PMBabylonHealth.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A335802C205B2BEB0008F33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A3358040205B2BEB0008F33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A335804B205B2BEB0008F33F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
